div.header{
    height: 75px;
    width: 85%;
    background-color:aliceblue;
    float: right;
}

div.nav{
    height:950px;
    width:15%;
    background-color:antiquewhite;
    float:left;
   
}
div#1{
    float: left;
}

div.main{
    height: 875px;
    width: 70%;
    background-color:peachpuff;
    margin: auto;
    float:left;
 
}

img{
    background-color: paleturquoise;
    height: 150px;
    width: 16%;
    float:left;
    margin:4.3px;
}

div.art{
    height:445px;
    width:100%;
    background-color:skyblue;
    float: left;
    
}
div.aside{
    height:875px;
    width:15%;
    background-color:lightpink;
    margin: auto;
    float:left
}
div.footer{
    height: 113px;
    width: 100%;
    background-color:deepskyblue;
    float: left;
    
}

div.article{
    height: 195px;
    width: 49%;
    background-color: skyblue;
    float: left;
    margin: 4px;

}




